/**
 * @file
 * Header region styling.
 */
@media (min-width: 34em) {
  .layout__header-inner {
    min-height: 6.125rem;
  }
}

.layout__header a,
.layout__header .menu > li {
  -webkit-transition: background-color 0.25s ease-out;
  transition: background-color 0.25s ease-out;
}

.system-branding-block,
.header-identity:after {
  /* Clearfix */
  content: '';
  display: table;
  clear: both;
}
.header-identity strong {
  font-weight: inherit;
}

@media (min-width: 48em) {
  .header-identity {
    display: block;
    float: left;
  }

  [dir="rtl"] .header-identity {
    float: right;
  }
}

.header-identity__site-name {
  margin: 0;
  padding: 0;
  overflow-wrap: break-word;
}

@media (min-width: 34em) {
  .header-identity__site-name {
    float: left;
  }

  [dir="rtl"] .header-identity__site-name {
    float: right;
  }
}

.header-identity__logo-link {
  display: block;
  float: left;
}

[dir="rtl"] .header-identity__logo-link {
  float: right;
}

/* @todo make this work
   Makes sure images that are tall logos don't pop out of container */
.header-identity__logo--tall {
  width: auto;
  height: 100%;
}

.header-identity__site-name {
  display: block;
  margin: 0;
}

.header-identity__site-slogan {
  margin: 0;
}

/**
 * Menus in header area
 */
@media (min-width: 34em) {
  .layout__header .block-system-main-menu {
    clear: both;
  }
}

.layout__header .menu,
.layout__header .menu li {
  list-style: none;
  margin: 0;
  padding: 0;
}

.layout__header .menu:after {
  /* Clearfix menus */
  content: '';
  display: table;
  clear: both;
}

.layout__header .menu > li {
  float: left;
}

[dir="rtl"] .layout__header .menu > li {
  float: right;
}

.layout__header .menu a {
  display: block;
  padding: 1rem 1.25rem;
}

@media (min-width: 34em) {
  /* Specific selector to avoid contextual links */
  .layout__header .menu a {
    padding: 1rem 1.25rem;
  }
}

.header-identity__site-name,
.header-identity__logo-wrapper {
  height: 60px;
  padding: 0;
  margin: 0;
}

.block-page-title-block {
  clear: both;
}
