/**
 * @file
 * Header region styling.
 */
@media (min-width: 34em) {
  .layout__header-inner {
    min-height: 6.125rem;
  }
}

.layout__header a,
.layout__header .menu > li {
  -webkit-transition: background-color 0.25s ease-out;
  transition: background-color 0.25s ease-out;
}

.header-identity-wrapper:after {
  /* Clearfix */
  content: '';
  display: table;
  clear: both;
}
.header-identity-wrapper strong {
  font-weight: inherit;
}

@media (min-width: 48em) {
  .header-identity-wrapper {
    display: block;
    float: left;
  }

  [dir="rtl"] .header-identity-wrapper {
    float: right;
  }
}

.header-site-name-wrapper {
  margin: 0;
  padding: 0;
  overflow-wrap: break-word;
}

@media (min-width: 34em) {
  .header-site-name-wrapper {
    float: left;
  }

  [dir="rtl"] .header-site-name-wrapper {
    float: right;
  }
}

.header-logo-wrapper {
  display: block;
  float: left;
}

[dir="rtl"] .header-logo-wrapper {
  float: right;
}

/* Makes sure images that are tall logos don't pop out of container */
.header-logo-tall img {
  width: auto;
  height: 100%;
}

.header-site-name-link {
  display: block;
  margin: 0;
}

.header-site-slogan {
  margin: 0;
}

.layout__header .block-system-header .block-content:after {
  /* Clearfix header block */
  content: "";
  display: table;
  clear: both;
}

/**
 * Menus in header area
 */
@media (min-width: 34em) {
  .layout__header .block-system-main-menu {
    clear: both;
  }
}

.layout__header .menu,
.layout__header .menu li {
  list-style: none;
  margin: 0;
  padding: 0;
}

.layout__header .menu:after {
  /* Clearfix menus */
  content: '';
  display: table;
  clear: both;
}

.layout__header .menu > li {
  float: left;
}

[dir="rtl"] .layout__header .menu > li {
  float: right;
}

.layout__header .menu a {
  display: block;
  padding: 1rem 1.25rem;
}

@media (min-width: 34em) {
  /* Specific selector to avoid contextual links */
  .layout__header .menu a {
    padding: 1rem 1.25rem;
  }
}
